In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot
import seaborn as sns
from sqlalchemy import create_engine, text

In [4]:
engine = create_engine("mysql+pymysql://root:%40aAyush123@localhost/ecommercedata")

with engine.connect() as conn:
    query = text("""
        SELECT 
            o.user_id,
            u.username,
            oi.product_id,
            p.description
        FROM order_items oi
        JOIN orders o ON oi.order_id = o.order_id
        JOIN products p ON oi.product_id = p.product_id
        JOIN users u ON o.user_id = u.user_id
    """)
    df = pd.read_sql(query, conn)

In [5]:
df

        user_id       username product_id                          description
0         12346    Falan Baral      23166       MEDIUM CERAMIC TOP STORAGE JAR
1         12346    Falan Baral      23166       MEDIUM CERAMIC TOP STORAGE JAR
2         12347   Abdul Sharaf      85116      BLACK CANDELABRA T-LIGHT HOLDER
3         12347   Abdul Sharaf      22375    AIRLINE BAG VINTAGE JET SET BROWN
4         12347   Abdul Sharaf      71477    COLOUR GLASS. STAR T-LIGHT HOLDER
...         ...            ...        ...                                  ...
406824    18287  Niharika Virk      22419                     LIPSTICK PEN RED
406825    18287  Niharika Virk      22866        HAND WARMER SCOTTY DOG DESIGN
406826    18287  Niharika Virk      23264   SET OF 3 WOODEN SLEIGH DECORATIONS
406827    18287  Niharika Virk      21824  PAINTED METAL STAR WITH HOLLY BELLS
406828    18287  Niharika Virk      21014        SWISS CHALET TREE DECORATION

[406829 rows x 4 columns]

In [6]:
product_id = df["product_id"].unique()
product_id

array(['23166', '85116', '22375', ..., '84613C', '84206B', '21414'],
      dtype=object)

In [16]:
recomm_df = df['product_id'].value_counts().reset_index()
recomm_df.columns = ["product_id", "count"]
recomm_df

     product_id  count
0        85123A   2077
1         22423   1905
2        85099B   1662
3         84879   1418
4         47566   1416
...         ...    ...
3679     84743C      1
3680      21310      1
3681     84613C      1
3682     84206B      1
3683      21414      1

[3684 rows x 2 columns]

In [17]:
recomm_df["count"] = recomm_df["count"] / len(df)
recomm_df

     product_id     count
0        85123A  0.005105
1         22423  0.004683
2        85099B  0.004085
3         84879  0.003485
4         47566  0.003481
...         ...       ...
3679     84743C  0.000002
3680      21310  0.000002
3681     84613C  0.000002
3682     84206B  0.000002
3683      21414  0.000002

[3684 rows x 2 columns]